<div [ngSwitch]="showForm">
  <div *ngSwitchCase="0" class="e-container">
    <div
      *ngFor="let especialidad of especialidades"
      class="item"
      (click)="onClickEspecialidad(especialidad)"
    >
      <img
        [src]="obtenerImg(especialidad)"
        [alt]="especialidad.nombre"
        class="imagen"
      />
      <p class="nombre">{{ especialidad }}</p>
    </div>
  </div>

  <div *ngSwitchCase="1" class="e-container">
    <div
      *ngFor="let especialista of usuarios"
      class="item"
      (click)="onClickEspecialista(especialista)"
    >
      <img
        [src]="especialista.imagen"
        [alt]="especialista.nombre"
        class="imagen"
      />
      <p class="nombre">
        {{ especialista.nombre }} {{ especialista.apellido }}
      </p>
    </div>
  </div>

  <div *ngSwitchCase="2">
    <app-dia-yhorario
      (diaYHorario)="obtenerDiaYHorario($event)"
      [disponibilidad]="disponibilidad"
    ></app-dia-yhorario>
  </div>
</div>
