<div class="dias-container">
  <div
    *ngFor="let dia of proximosDiasConHorarios"
    class="dia-card"
    [class.selected]="diaSeleccionado === dia"
    (click)="diaSeleccionado = dia; showHorarios = true; ordenarHorarios()"
    [ngClass]="{ disable: dia.horarios.length == 0 }"
  >
    <h4>
      {{ dia.fecha | date : "dd/MM" }}
    </h4>
  </div>
</div>

@if(showHorarios){
<div class="horarios-lista">
  @if (diaSeleccionado.horarios.length == 0){ No hay disponibilidad para este
  día } @else {
  <button
    *ngFor="let horario of diaSeleccionado.horarios"
    class="horario-btn"
    (click)="seleccionarTurno(diaSeleccionado.fecha, horario)"
  >
    {{ horario | formatearHora }}
  </button>
  }
</div>
}
