.dias-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 600px; /* Ancho máximo del contenedor */
  max-height: 400px; /* Limita la altura total a dos filas aproximadamente */
  overflow-y: auto; /* Habilita scroll cuando hay más de dos filas */
  background-color: #f865b0;
  padding: 1rem;
  border-radius: 8px;
  margin: auto;
}
.dia-card {
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #e9ecef;
  border-top: 3px solid #007bff;
  border-radius: 4px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.dia-card:hover {
  background-color: #e9ecef;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dia-card h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #495057;
}

.dia-card.selected {
  background-color: #007bff;
  border-color: #0056b3;
}

.dia-card.selected h4 {
  color: white;
}

.horarios-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  overflow-y: auto;
  padding: 0.5rem;
  width: 70%;
  margin: auto;
}

.horario-btn {
  width: 80px;
  padding: 0.25rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  text-align: center;
}

.horario-btn:hover {
  background-color: #e9ecef;
}

.horario-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;

  background-color: #007bff;
  border-color: #0056b3;
}

.horario-btn.selected {
  background-color: #007bff;
  border-color: #0056b3;
}

.disable {
  cursor: not-allowed;
  background-color: gray;
}
