<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <ng-container *ngIf="!auth.estaLogeado; else logeadoBlock">
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/registro">Registro</a>
      </li>
    </ng-container>

    <ng-template #logeadoBlock>
      <ng-container *ngIf="auth.esAdmin(); else notAdminBlock">
        <li>
          <a routerLink="/usuarios">Usuarios</a>
        </li>
        <li>
          <a routerLink="/turnos">Turnos</a>
        </li>
        <li>
          <a routerLink="/solicitarturno">Solicitar Turno</a>
        </li>
        <li>
          <a routerLink="/estadisticas">Estadisticas</a>
        </li>
      </ng-container>
      <ng-template #notAdminBlock>
        <li>
          <a routerLink="/misturnos">Mis Turnos</a>
        </li>
        @if(auth.tipoDeUsuario=='especialista'){
        <li>
          <a routerLink="/pacientes">Mis Pacientes</a>
        </li>
        } @else {
        <li>
          <a routerLink="/solicitarturno">Solicitar Turno</a>
        </li>
        }
      </ng-template>
      <li>
        <a routerLink="/perfil">Mi Perfil</a>
      </li>
      <li>
        <a routerLink="/home" (click)="deslogear()">Deslogear</a>
      </li>
      <li>
        <a
          ><i>{{ auth.userName }}</i></a
        >
        <small
          style="color: #f00"
          *ngIf="!auth.emailVerificado && !auth.esAdmin()"
        >
          Falta confirmar el mail
        </small>
        <small
          style="color: #f00"
          *ngIf="
            auth.tipoDeUsuario == 'especialista' && !auth.accesoEspecialista
          "
        >
          Falta aprobar especialista
        </small>
      </li>
    </ng-template>
  </ul>
</nav>
