<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    @if(auth.esAdmin()){
    <li>
      <a routerLink="/usuarios">Usuarios</a>
    </li>
    <li>
      <a routerLink="/turnos">Turnos</a>
    </li>
    } @if(!auth.estaLogeado) {
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/registro">Registro</a>
    </li>
    } @else { @if(auth.tipoDeUsuario!='especialista'){
    <li>
      <a routerLink="/solicitarturno">Solicitar Turno</a>
    </li>
    }
    <li>
      <a routerLink="/misturnos">Mis Turnos</a>
    </li>
    <li>
      <a routerLink="/perfil">Mi Perfil</a>
    </li>
    <li>
      <a routerLink="/home" (click)="deslogear()">Deslogear</a>
    </li>
    <li>
      <a
        ><i>{{ auth.userName }}</i></a
      >
      <small
        style="color: #f00"
        *ngIf="!auth.emailVerificado && !auth.esAdmin()"
      >
        Falta confirmar el mail
      </small>
      <small
        style="color: #f00"
        *ngIf="auth.tipoDeUsuario == 'especialista' && !auth.accesoEspecialista"
      >
        Falta aprobar especialista
      </small>
    </li>
    }
  </ul>
</nav>
