<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    @if(auth.esAdmin()){
    <li>
      <a routerLink="/usuarios">Usuarios</a>
    </li>
    } @if(!auth.estaLogeado) {
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/registro">Registro</a>
    </li>
    } @else {
    <li>
      <a routerLink="/Home" (click)="deslogear()">Deslogear</a>
    </li>
    <li>
      <a
        ><i>{{ auth.userName }}</i></a
      >
      <small style="color: #f00" *ngIf="!correoVerificado">
        Falta confirmar el mail
      </small>
    </li>
    }
  </ul>
</nav>
