<div class="container">
  <div class="perfil-card">
    <div class="perfil-tipo-usuario">
      {{ user.tipo | capitalizarPrimerLetra }}
    </div>

    <hr class="perfil-divider" />

    <div class="perfil-content">
      @if (user.tipo=='paciente'){
      <div [@carouselAnimation] class="box inventory">
        <img
          [src]="currentImage"
          alt="Imagen de perfil"
          class="perfil-imagen"
        />
      </div>
      } @else {
      <img [src]="user.imagen" alt="Imagen de perfil" class="perfil-imagen" />
      }
      <div class="perfil-info">
        <h3 class="perfil-nombre">{{ user.nombre }} {{ user.apellido }}</h3>
        <p><strong>DNI:</strong> {{ user.dni }}</p>
        <p><strong>Edad:</strong> {{ user.edad }} años</p>
        <p><strong>Email:</strong> {{ user.mail }}</p>
        @if(user.tipo=='paciente'){
        <p><strong>Obra Social:</strong> {{ user.obraSocial }}</p>
        <p class="a" (click)="clickVerHistoriaClinica()">
          <u>Ver historia clínica</u>
        </p>
        } @else if (user.tipo=='especialista') {
        <p>
          <strong>Especialidades:</strong>
          <span *ngFor="let e of user.especialidad; let last = last">
            {{ e }}<span *ngIf="!last">, </span>
          </span>
        </p>

        <p class="a" (click)="clickAdminisitrarHorario()">
          <u>Administrar disponibilidad horaria</u>
        </p>
        }
      </div>
    </div>
  </div>
  @if(showHorarios){
  <div [@bounce]="isBounce ? 'bounce' : 'normal'" class="box player">
    <app-disponibilidad-especialista></app-disponibilidad-especialista>
  </div>
  }
</div>

@if(showHistoriaClinica){<app-tabla-historia-clinica
  [historiaClinica]="historiaClinica"
  [descarga]="true"
></app-tabla-historia-clinica>
}
