<div class="container">
  @if (pacienteSeleccionado == null) {
  <app-seleccionar-paciente
    (paciente)="obtenerPaciente($event)"
  ></app-seleccionar-paciente>
  } @else { @if(showLeftSection){
  <div class="left-section" [@flip]="isFlip ? 'flip' : 'normal'">
    @if(auth.esAdmin()){
    <div class="item">
      <img
        [src]="pacienteSeleccionado.imagen"
        [alt]="pacienteSeleccionado"
        class="imagen"
      />
      <p class="nombre">
        {{ pacienteSeleccionado.nombre }} {{ pacienteSeleccionado.apellido }}
      </p>
    </div>
    }
    <div class="item">
      <img
        [src]="obtenerImg(especialidadSeleccionada)"
        [alt]="especialidadSeleccionada"
        class="imagen"
      />
      <p class="nombre">{{ especialidadSeleccionada }}</p>
    </div>
    @if(especialistaSeleccionado != null){
    <div class="item">
      <img
        [src]="especialistaSeleccionado.imagen"
        [alt]="especialistaSeleccionado.nombre"
        class="imagen"
      />
      <p class="nombre">
        {{ especialistaSeleccionado.nombre }}
        {{ especialistaSeleccionado.apellido }}
      </p>
    </div>
    }
  </div>
  }
  <div class="right-section">
    <app-solicitar-form
      (especialidadSeleccionada)="obtenerEspecialidad($event)"
      (especialistaSeleccionado)="obtenerEspecialista($event)"
      (objDia)="obtenerDia($event)"
    ></app-solicitar-form>
  </div>
  }
</div>
@if (objDia!=null) {
<button class="confirmar-btn" (click)="confirmar()">CONFIRMAR</button>
}
