@if(!turnos){
<app-loading></app-loading>
} @else {
<div class="tabla-container">
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Paciente</th>
        <th>Especialidad</th>
        <th>Especialista</th>
        <th>Estado</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnos">
        <td>{{ turno.fecha.toDate() | date : "dd/MM" }}</td>
        <td>{{ turno.hora }}</td>
        <td>{{ turno.pacienteNombre }}</td>
        <td>{{ turno.especialidad }}</td>
        <td>Dr. {{ turno.especialistaNombre }}</td>
        <td>{{ turno.estado | capitalizarPrimerLetra }}</td>
        <td>
          <div *ngIf="turno.estado == 'pendiente'">
            <button class="btn-accion" (click)="accionCancelar(turno)">
              Cancelar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
} @if (showComentarioCancelar){
<div class="overlay"></div>
<app-comentario
  [titulo]="'Deja un comentario del por qué se cancela el turno'"
  (salir)="ocultarTodo()"
  (comentarioEnviado)="enviarComentarioCancelar($event)"
></app-comentario>
}
