.container {
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: start;
  justify-content: center;
  gap: 60px;
  padding: 20px;
}

.botonera {
  display: flex;
  flex-flow: column;
  gap: 100px;
}

.boton {
  width: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  border: 3px solid black;
  border-radius: 4px;

  cursor: pointer;
}
