<div class="container">
  <div class="botonera">
    <div class="boton" (click)="mostrarForm = 1; isRotate = !isRotate">
      <img [src]="imgPaciente" />
    </div>
    <div class="boton" (click)="mostrarForm = 2; isRotate = !isRotate">
      <img [src]="imgEspecialista" />
    </div>
  </div>
  <div [@rotate]="isRotate ? 'rotate' : 'normal'" class="box power-up">
    @if(mostrarForm==1){
    <app-paciente-form></app-paciente-form>
    } @else if(mostrarForm==2){
    <app-especialista-form></app-especialista-form>
    }
  </div>
</div>
