@if (isLoading){
<app-loading></app-loading>
} @else {
<div class="form-container">
  <label>Registro especialista:</label>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text" />
    <div *ngIf="formulario.controls['nombre'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          (formulario.controls['nombre']?.errors)!['required'] &&
          formulario.controls['nombre']?.touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text" />
    <div *ngIf="formulario.controls['apellido'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          formulario.controls['apellido'].errors!['required'] &&
          formulario.controls['apellido'].touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="edad">Edad:</label>
    <input id="edad" formControlName="edad" type="number" />
    <div *ngIf="formulario.controls['edad'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          formulario.controls['edad'].errors!['required'] &&
          formulario.controls['edad'].touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="dni">DNI:</label>
    <input id="dni" formControlName="dni" type="text" />

    <div *ngIf="formulario.controls['dni'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          formulario.controls['dni'].errors!['required'] &&
          formulario.controls['dni'].touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="especialidad">Especialidad:</label>
    <select id="especialidad" formControlName="especialidad">
      <option
        *ngFor="let especialidad of especialidades"
        [value]="especialidad"
      >
        {{ especialidad }}
      </option>
      <option value="Otra">Otra</option>
    </select>

    <div *ngIf="formulario.get('especialidad')?.value === 'Otra'">
      <label for="otraEspecialidad">Especifique su especialidad:</label>
      <input
        id="otraEspecialidad"
        formControlName="otraEspecialidad"
        type="text"
      />
    </div>

    <div *ngIf="formulario.controls['otraEspecialidad'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          formulario.controls['otraEspecialidad'].errors!['required'] &&
          formulario.controls['otraEspecialidad'].touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="mail">Mail:</label>
    <input id="mail" formControlName="mail" type="email" autocomplete="email" />

    <div *ngIf="formulario.controls['mail'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          formulario.controls['mail'].errors!['required'] &&
          formulario.controls['mail'].touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="password">Password:</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      autocomplete="new-password"
    />

    <div *ngIf="formulario.controls['password'].errors != null">
      <small
        style="color: #f00"
        *ngIf="
          formulario.controls['password'].errors!['required'] &&
          formulario.controls['password'].touched
        "
      >
        Este campo es requerido
      </small>
    </div>

    <label for="imagenPerfil">Imagen de Perfil:</label>
    <input
      id="imagenPerfil"
      type="file"
      accept="image/*"
      (change)="onFileChange($event)"
    />

    <ngx-recaptcha2
      #captchaElem
      [siteKey]="siteKey"
      (success)="handleSuccess($event)"
      [useGlobalDomain]="false"
      formControlName="recaptcha"
    >
    </ngx-recaptcha2>

    <button type="submit" [disabled]="formulario.invalid">Enviar</button>
  </form>
</div>
}
