@if (isLoading){
<app-loading></app-loading>
} @else {
<div class="form-container">
  <label>Registro especialista:</label>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text" />

    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text" />

    <label for="edad">Edad:</label>
    <input id="edad" formControlName="edad" type="number" />

    <label for="dni">DNI:</label>
    <input id="dni" formControlName="dni" type="text" />

    <label for="especialidad">Especialidad:</label>
    <select id="especialidad" formControlName="especialidad">
      <option
        *ngFor="let especialidad of especialidades"
        [value]="especialidad"
      >
        {{ especialidad }}
      </option>
      <option value="Otra">Otra</option>
    </select>

    <div *ngIf="formulario.get('especialidad')?.value === 'Otra'">
      <label for="otraEspecialidad">Especifique su especialidad:</label>
      <input
        id="otraEspecialidad"
        formControlName="otraEspecialidad"
        type="text"
      />
    </div>

    <label for="mail">Mail:</label>
    <input id="mail" formControlName="mail" type="email" />

    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />

    <label for="imagenPerfil">Imagen de Perfil:</label>
    <input
      id="imagenPerfil"
      formControlName="imagenPerfil"
      type="file"
      accept="image/*"
      onchange="nuevaImagenCargada($event)"
    />

    <button type="submit" [disabled]="formulario.invalid">Enviar</button>
  </form>
</div>
}
