<table class="table table-bordered">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Especialidad</th>
      <th>Especialista</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Presión</th>
      <th>Temperatura</th>
      <th>Otros datos</th>
      @if ( verResenia){

      <th>Reseña</th>
      }
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hc of historiaClinica">
      <td [appZoom]="1.5">
        {{ hc.fecha.toDate() | date : "dd/MM" }}
      </td>
      <td [appZoom]="1.5">{{ hc.especialidad }}</td>
      <td [appZoom]="1.5">{{ hc.especialista }}</td>
      <td [appZoom]="1.5">{{ hc.altura }}</td>
      <td [appZoom]="1.5">{{ hc.peso }}</td>
      <td [appZoom]="1.5">{{ hc.presion }}</td>
      <td [appZoom]="1.5">{{ hc.temperatura }}</td>
      <td [appZoom]="1.5">
        <div *ngFor="let key of objectKeys(hc)">
          <p *ngIf="!listOfKeys.includes(key)">{{ key }}: {{ hc[key] }}</p>
        </div>
      </td>
      @if ( verResenia){
      <td><button (click)="accionVerInforme(hc.informe)">Ver</button></td>
      }
    </tr>
  </tbody>
</table>
@if (descarga){
<button (click)="descargarTablaComoPDF()">Descargar PDF</button>
<select
  id="especialistaFilter"
  #especialistaSelect
  (change)="filtrarPorEspecialista(especialistaSelect.value)"
>
  <option value="">Todos</option>
  <option
    *ngFor="let especialista of listaEspecialistas()"
    [value]="especialista"
  >
    {{ especialista }}
  </option>
</select>
} @if (showVerInforme) {
<div class="overlay"></div>
<app-ver-comentario
  [comentario]="comentarioAMostrar"
  [titulo]="'Reseña:'"
  (salir)="ocultarTodo()"
>
</app-ver-comentario>
}
